body {
    background: white;
}

/* .homepage {
    padding: 0 120px;
  } */


.container {
    padding-right: 120px;
    padding-left: 120px;
    max-width: 100%;
}

.hero-banner {
    background: rebeccapurple
}

.hero-product-description {
    width: 70%;
}

.item-left {
    align-items: flex-start;
}

.background-gradient {
    background: linear-gradient(to bottom, #1c2340 0%, #1c2340 0%, #ffffff 31%)
}


@keyframes ripplePulse {
    0% {
        transform: scale(0);
        opacity: 0;
        background-color: transparent;
    }

    10% {
        opacity: 0.6;
        background-color: #4ade80;
    }

    50% {
        background-color: #4ade80;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
        background-color: #4ade80;
    }
}


.ripple-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    background-color: white;
    animation: ripplePulse 1.5s infinite ease-out;
    transition: opacity 0.2s ease-in;
    overflow: hidden;
}

.animate-ripple-delay {
    animation-delay: 0.75s;
}

.shadow-green-glow {
    box-shadow: 0px 0px 8px rgba(34, 197, 94, 0.7)
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(6);
        opacity: 0;
    }
}

.animate-ripple-wrapper {
    width: 1rem;
    height: 1rem;
    background: #4ade80;
    /* Tailwind green-400 */
    border-radius: 9999px;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: ripple 0.6s ease-out;
    z-index: 1;
}

@keyframes hoverRipple {
    from {
        transform: scale(0);
        opacity: 0.6;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

.hover-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    animation-name: hoverRipple;
    animation-timing-function: ease-out;
    z-index: 10;
}

@keyframes shake {

    10%,
    90% {
        transform: translateX(-2px);
    }

    20%,
    80% {
        transform: translateX(4px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-6px);
    }

    40%,
    60% {
        transform: translateX(6px);
    }
}

.hover-shake:hover {
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}